@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto Mono", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2A2A30;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* For webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #171717; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #121212; /* Color of the scrollbar thumb */
  border-radius: 25px; /* Rounded corners */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d #171717;
}